@charset "UTF-8";

body{
    background-color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h1{
    color: lightblue;
    background-color: black;
}

h2{
    color: greenyellow;
}

p{
    color: fuchsia;
    background-color: white;
    text-align: center;
}