@charset "UTF-8";

div.quadrado{
    border: 1px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: antiquewhite;
    border-radius: 5px;
}

div#q1{
    background-color: blueviolet;
}

div#q2{
    background-image: linear-gradient(to top, red,rgb(240, 95, 119),rgb(129, 53, 53));
}

div#q3{
    background-image: url(imagens/pattern003.png);
}

div#q4{
    background-image: url(imagens/pattern001.png);
}

div#q5{
    background-image: url(imagens/pattern002.png);
}



body{
    background-image: url(imagens/wallpaper001.jpg);
}